In [2]:
import pandas as pd
import matplotlib.pyplot as plt

In [3]:
!kaggle datasets list -s "goal leagues"

ref                                                                  title                                               size  lastUpdated          downloadCount  voteCount  usabilityRating
-------------------------------------------------------------------  -------------------------------------------------  -----  -------------------  -------------  ---------  ---------------
slehkyi/extended-football-stats-for-european-leagues-xg              Football Data: Expected Goals and Other Metrics      1MB  2020-08-02 17:28:39           7363        160  1.0
shreyanshkhandelwal/goal-dataset-top-5-european-leagues              Goal Dataset - Top 5 European Leagues              174KB  2021-05-23 21:20:09           6443         40  0.5294118
khanghunhnguyntrng/football-players-transfer-fee-prediction-dataset  Football Players' Transfer Fee Prediction Dataset  549KB  2023-11-30 07:16:24           2070         42  1.0
sanjeetsinghnaik/most-expensive-footballers-2021                     Most Expensive Footballers 2021                     13KB  2021-12-03 20:28:03           3014         52  1.0
secareanualin/football-events                                        Football Events                                     21MB  2017-01-25 01:19:19          31638        710  0.7647059
vivovinco/20222023-football-player-stats                             2022-2023 Football Player Stats                    470KB  2023-02-12 17:01:33           7202        149  1.0
vivovinco/20212022-football-player-stats                             2021-2022 Football Player Stats                    627KB  2022-05-29 12:13:07           6813        136  1.0
prateekchauhands/football-data-top-5-european-leagues                Football Data | Top 5 European Leagues               2MB  2024-03-17 17:14:01           1516         44  0.88235295
vivovinco/20212022-football-team-stats                               2021-2022 Football Team Stats                        6KB  2022-05-29 07:48:12           3213         76  1.0
cuecacuela/england-football-matches                                  England Football Matches                           812KB  2024-01-08 20:11:12           1007         35  1.0
takidaki/70-football-leagues-data-2019-2023                          70+ Football Leagues Dataset 2019-2023               6MB  2023-06-24 11:38:29            920         30  0.7647059
mcarujo/european-football-season-202223                              European Football Season 2022/23                     1MB  2023-06-11 12:46:58           1121         40  0.8235294
oles04/bundesliga-seasons                                            Football | Bundesliga Seasons 2005/06 - 2022/23    101KB  2023-05-27 18:48:13           2248         41  1.0
yamaerenay/most-popular-soccer-leagues                               Most Popular Soccer Leagues                         30KB  2020-08-01 16:59:30            276          6  1.0
chaibapat/fantasy-premier-league                                     Fantasy Premier League - 2016/2017                 476MB  2017-05-16 18:56:26           1611         33  0.85294116
shushrutsharma/top-5-football-leagues                                Top 5 Football Leagues  Stats                       11MB  2021-09-14 14:19:37           1184         15  0.7647059
sanjeetsinghnaik/premier-league-matches-20142020                     Premier League Matches 2014-2020                   227KB  2021-12-21 19:08:15            629         23  0.9117647
eladsil/football-games-odds                                          Football Matches Odds                                5MB  2018-10-15 08:15:14           1225         32  0.8235294
evangower/premier-lacrosse-league-team-stats                         Premier Lacrosse League Team Stats                   2KB  2023-05-20 21:04:28            449         27  1.0
sanjeetsinghnaik/la-liga-match-data                                  La Liga Match Data                                 226KB  2022-01-02 18:21:11            819         23  0.9117647

In [4]:
!kaggle datasets download shreyanshkhandelwal/goal-dataset-top-5-european-leagues

Dataset URL: https://www.kaggle.com/datasets/shreyanshkhandelwal/goal-dataset-top-5-european-leagues
License(s): GPL-2.0
Downloading goal-dataset-top-5-european-leagues.zip to f:\Programming\Python\Natural Language Processing\Data Mining

  0%|          | 0.00/174k [00:00<?, ?B/s]
100%|██████████| 174k/174k [00:00<00:00, 279kB/s]
100%|██████████| 174k/174k [00:00<00:00, 278kB/s]

In [7]:
data_path = 'goal-dataset-top-5-european-leagues/Bundesliga-goalScorer(20-21).csv'
df = pd.read_csv(data_path)

df.head(10)

,Unnamed: 0,id,player_name,games,time,goals,xG,assists,xA,shots,key_passes,yellow_cards,red_cards,position,team_title,npg,npxG,xGChain,xGBuildup
0,0,227,Robert Lewandowski,29,2467,41,32.077352,7,4.815550,135,32,4,0,F S,Bayern Munich,33,25.257362,31.740176,5.689343
1,1,6170,André Silva,32,2787,28,25.599148,5,5.467086,114,31,1,0,F,Eintracht Frankfurt,21,20.294792,26.746570,4.096429
2,2,8260,Erling Haaland,28,2416,27,23.570544,6,4.035450,92,27,2,0,F S,Borussia Dortmund,25,20.539437,27.197275,5.896184
3,3,956,Andrej Kramaric,28,2386,20,15.525608,5,4.072423,95,38,2,0,F M S,Hoffenheim,15,11.736724,18.057690,5.372288
4,4,7052,Wout Weghorst,34,2954,20,18.310390,8,5.427308,93,45,3,0,F S,Wolfsburg,18,16.037060,24.294339,5.954852
5,5,8812,Sasa Kalajdzic,33,2146,16,11.238245,5,3.236808,66,26,1,0,F S,VfB Stuttgart,16,11.238245,15.165599,3.606148
6,6,208,Lars Stindl,30,1985,14,9.211134,8,3.746522,56,43,6,0,F M S,Borussia M.Gladbach,8,3.906859,10.691837,4.132027
7,7,155,Max Kruse,22,1648,11,7.449714,5,4.152540,30,37,0,0,F M S,Union Berlin,6,2.903215,9.334398,4.043366
8,8,224,Thomas Müller,32,2693,11,7.856027,18,11.306577,50,92,0,0,M S,Bayern Munich,10,7.098251,26.149953,12.189975
9,9,6338,Lucas Alario,25,1238,11,7.285349,2,0.925230,41,15,2,0,F S,Bayer Leverkusen,9,5.769795,8.092160,1.906716

In [8]:
data_path = 'goal-dataset-top-5-european-leagues/LaLiga-goalScorer(20-21).csv'
df = pd.read_csv(data_path)

df.head(10)

,Unnamed: 0,id,player_name,games,time,goals,xG,assists,xA,shots,key_passes,yellow_cards,red_cards,position,team_title,npg,npxG,xGChain,xGBuildup
0,0,2097,Lionel Messi,35,3017,30,26.676843,9,11.422848,195,77,4,0,F M S,Barcelona,27,22.960455,37.906863,20.337363
1,1,2120,Gerard Moreno,33,2680,23,19.528129,7,7.810236,98,43,3,0,F M S,Villarreal,13,12.095480,23.263530,6.951298
2,2,2370,Karim Benzema,34,2914,23,19.454522,9,6.755568,123,38,2,0,F S,Real Madrid,22,18.711244,28.303930,6.194143
3,3,2098,Luis Suárez,32,2541,21,17.892466,3,3.142670,104,27,6,0,F S,Atletico Madrid,18,15.662633,18.595971,1.232805
4,4,5169,Youssef En-Nesyri,37,2218,18,15.631074,0,2.642065,73,13,2,0,F S,Sevilla,18,15.631074,17.669706,1.063739
5,5,5232,Alexander Isak,34,2389,16,16.467688,2,1.841515,81,10,4,0,F S,Real Sociedad,16,15.724410,17.613967,2.982304
6,6,2186,Morales,38,2469,14,7.804595,3,4.620819,58,34,3,0,F M S,Levante,14,7.061445,12.581370,3.269994
7,7,2290,Iago Aspas,33,2878,14,12.255060,13,9.306388,51,62,9,0,F M,Celta Vigo,9,8.539055,25.359111,11.444090
8,8,2270,Antoine Griezmann,36,2646,13,12.428818,7,6.660381,71,42,4,0,F M S,Barcelona,12,10.942391,24.722414,12.167519
9,9,2589,Rafa Mir,38,2881,13,15.110103,1,0.785144,120,9,2,0,F M S,SD Huesca,11,12.880270,13.065967,2.035372

In [11]:
data_path = 'bank/bank.csv'
df = pd.read_csv(data_path, sep=';')

df.head(10)

,age,job,marital,education,default,balance,housing,loan,contact,day,month,duration,campaign,pdays,previous,poutcome,y
0,30,unemployed,married,primary,no,1787,no,no,cellular,19,oct,79,1,-1,0,unknown,no
1,33,services,married,secondary,no,4789,yes,yes,cellular,11,may,220,1,339,4,failure,no
2,35,management,single,tertiary,no,1350,yes,no,cellular,16,apr,185,1,330,1,failure,no
3,30,management,married,tertiary,no,1476,yes,yes,unknown,3,jun,199,4,-1,0,unknown,no
4,59,blue-collar,married,secondary,no,0,yes,no,unknown,5,may,226,1,-1,0,unknown,no
5,35,management,single,tertiary,no,747,no,no,cellular,23,feb,141,2,176,3,failure,no
6,36,self-employed,married,tertiary,no,307,yes,no,cellular,14,may,341,1,330,2,other,no
7,39,technician,married,secondary,no,147,yes,no,cellular,6,may,151,2,-1,0,unknown,no
8,41,entrepreneur,married,tertiary,no,221,yes,no,unknown,14,may,57,2,-1,0,unknown,no
9,43,services,married,primary,no,-88,yes,yes,cellular,17,apr,313,1,147,2,failure,no

In [12]:
df.describe()

,age,balance,day,duration,campaign,pdays,previous
count,4521.000000,4521.000000,4521.000000,4521.000000,4521.000000,4521.000000,4521.000000
mean,41.170095,1422.657819,15.915284,263.961292,2.793630,39.766645,0.542579
std,10.576211,3009.638142,8.247667,259.856633,3.109807,100.121124,1.693562
min,19.000000,-3313.000000,1.000000,4.000000,1.000000,-1.000000,0.000000
25%,33.000000,69.000000,9.000000,104.000000,1.000000,-1.000000,0.000000
50%,39.000000,444.000000,16.000000,185.000000,2.000000,-1.000000,0.000000
75%,49.000000,1480.000000,21.000000,329.000000,3.000000,-1.000000,0.000000
max,87.000000,71188.000000,31.000000,3025.000000,50.000000,871.000000,25.000000